{% extends 'notes/index.html' %}

{% block content %}
  <div class="newsletter-subscribe">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">Ajouter une note</h2>
        <p class="text-left">Étudiant :{{ eleve.nom }} {{ eleve.prenom }}</p>
        <p class="text-left">Matière : {{ matiere.nom }}</p>
      </div>
      <form class="form-inline" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
